In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [12]:
# Load dataset
file_path = r"C:\Users\bhanu\OneDrive\Desktop\Assignment-1\raw\synthetic_bmi_data.csv"  # Update if needed
df = pd.read_csv(file_path)

In [13]:
# Display basic information
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               1000 non-null   int64
 1   Glucose                   1000 non-null   int64
 2   BloodPressure             1000 non-null   int64
 3   SkinThickness             1000 non-null   int64
 4   Insulin                   1000 non-null   int64
 5   BMI                       1000 non-null   float64
 6   DiabetesPedigreeFunction  1000 non-null   float64
 7   Age                       1000 non-null   int64
 8   Outcome                   1000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 70.4 KB

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,160,44,22,92,22.6,0.629,32,0
1,3,153,104,43,238,37.7,1.337,48,1
2,7,109,69,31,204,17.5,0.346,60,0
3,4,149,60,32,47,42.7,1.904,54,1
4,6,117,109,12,244,24.8,2.275,54,0

In [14]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:\\n", missing_values)

Missing Values:\n Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [15]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print("Duplicate Rows:", duplicates)

Duplicate Rows: 0

In [16]:
# Drop duplicates if any
df = df.drop_duplicates()

In [18]:
# Fill missing values (if any exist) using median strategy
df.fillna(df.median(numeric_only=True), inplace=True)

In [27]:
# Scale numerical features using StandardScaler
scaler = StandardScaler()
numerical_features = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [20]:
# Check for categorical features (this dataset has only numerical features)
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
print("Categorical Features:", categorical_features)

Categorical Features: []

In [21]:
# One-hot encoding (if needed)
if categorical_features:
    df = pd.get_dummies(df, columns=categorical_features, drop_first=True)

In [22]:
# Split dataset into features (X) and target (y)
X = df.drop(columns=['Outcome'])  # Features
y = df['Outcome']  # Target variable

In [23]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [24]:
# Display shapes
print("Training Data Shape:", X_train.shape, y_train.shape)
print("Testing Data Shape:", X_test.shape, y_test.shape)

Training Data Shape: (800, 8) (800,)
Testing Data Shape: (200, 8) (200,)

In [26]:
# Save the processed dataset
processed_file_path = r"C:\Users\bhanu\OneDrive\Desktop\Assignment-1\Processed_Data\processed_synthetic_bmi_data.csv"
df.to_csv(processed_file_path, index=False)